fastapi[all]==0.115.4
pydantic==2.9.2
pydantic-settings==2.6.1
python-dotenv==1.0.1
PyJWT==2.10.1
SQLAlchemy==2.0.36
SQLAlchemy-Utils==0.38.2
passlib==1.7.4
asyncpg==0.30.0
alembic==1.14.0
aioredis==2.0.1
redis==5.2.1
loguru==0.7.2
celery==5.4.0
scikit-learn==1.6.0
fpdf==1.7.2
weasyprint==63.1
Jinja2==3.1.4
pdfkit==1.0.0
pandas==2.2.3
XlsxWriter==3.2.0
openpyxl==3.1.5
cryptography==44.0.0
azure-iot-device==2.14.0
azure_iot_hub==2.6.1
flower==2.0.1
psycopg2-binary==2.9.10